.social {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 0;
    border-radius: 50%;
    color: #afb1b8;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: $third-text-color;
    background-color: $brand-color;
  }
}
